<!DOCTYPE html>

<html>
<head>
    {% include 'page.header.html' %}

    {% if site.title %}<title>{% if title %}{{ title }} – {% endif %}{{ site.title }}{% if not title and site.subtitle %} – {{ site.subtitle }}{% endif %}</title>{% endif %}
    {% block customscript %}{% endblock %}
</head>

<body>
    <div id="container">
        <div id="sidebar">
            <center>
                <h1 id="title"><a href="{{ get_url() }}">I'm <em>Thad</em>.</a></h1>
                {% if site.subtitle %}<h2 id="subtitle">{{ site.subtitle }}</h2>{% endif %}
                <img src="/assets/images/cross.svg" width="150px" style="margin-top: 10px;" />
                <br/>
                Odd thoughts from a Catholic, Distributist, former farm kid, and engineer.
            </center>
            <ul class="nav">
                <li><a href="http://thadhughes.xyz">Main</a></li>
                <li><a href="http://blog.thadhughes.xyz">Blog</a></li>
            </ul><ul class="nav">
                <li><a href="http://thadhughes.xyz/contact">About/Contact</a></li>
                <li><a href="mailto:hughes.thad@gmail.com">Email</a></li>
                <li><a href="http://blog.thadhughes.xyz/feed.xml">Blog RSS Feed</a></li>
            </ul><ul class="nav">
                Other sites I love:
                <li><a href="http://lukesmith.xyz">Luke Smith</a></li>
                <li><a href="https://thesymbolicworld.com/">Johnathan Pageau</a></li>
                <li><a href="https://www.unqualified-reservations.org/">Unqualified Reservations</a></li>
                <li><a href="https://johnvneun.com/">John V Neun</a></li>
                <li><a href="https://orthodoxartsjournal.org/">Orthodox Arts Journal</a></li>
                <li><a href="https://theradtrad.blogspot.com/">The Rad Trad</a></li>
            </ul>

            <div id="footer">
                <p>{% if site.author %}© {{ none|date('%Y') }} {{ site.author }} – {% endif %}powered by <a href="http://mynt.uhnomoli.com/">mynt</a></p>
            </div>
        </div>

        <div id="topbar">
            <h1 id="title"><a href="{{ get_url() }}">I'm Thad.</a></h1>
        </div>

        <div id="content">
            {% block content %}{% endblock %}
        </div>
    </div>
</body>
</html>

